 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        /* Header Styles */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
            background-color: #f5f1e8;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
        }


        .logo-icon {
        width: 60px;
        height: 60px;
        background-color: #2d6d4e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
}

  .logo-icon img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

        .logo-text {
            font-size: 28px;
            font-weight: bold;
            color: #000000;
        }

        nav {
            display: flex;
            gap: 35px;
            align-items: center;
            height: 55px;
        }

        nav a {
            text-decoration: none;
            color: #666;
            font-size: 16px;
            transition: color 0.3s;
        }

        nav a:hover,
        nav a.active {
            color: #2d6d4e;
        }

        nav a.active {
            border-bottom: 2px solid #2d6d4e;
            padding-bottom: 5px;
        }

        .cart {
            position: relative;
            cursor: pointer;
        }

        .cart-icon {
            width: 65px;
            height: 65px;
           
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }


.Our-Products{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: rgba(211, 222, 211, 0.5);
}

.eco-containor{
    box-sizing: border-box;
    display: block;
    margin-left: 111.6px;
    margin-right: 111.6px;
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    color: rgb(44, 38, 33);
}

.ourtexts{
    max-width: 672px;
}

.ProductsTextStyling{
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: "Playfair Display", serif ;
    font-feature-settings: normal;
    font-size: 48px;
    font-variation-settings: normal;
    font-weight: 700;
    line-height: 48px;
    tab-size: 4;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;


}

.ProductsTextStylinglong{
    font-family: "DM Sans", sans-serif ;
    font-size: 18px;
    tab-size: 4;
    color: rgb(126, 115, 103);
}


.eco-section-top{

    box-sizing: border-box;
    display: block;
    padding-bottom: 96px;
    padding-top: 96px;
}


.eco-content-top{

        overflow-x: hidden;
        overflow-y: hidden;
        color:rgb(44, 38, 33);
        background-color:rgb(245, 244, 239);
        border-bottom-color:rgb(229, 231, 235);
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:rgb(229, 231, 235);
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:rgb(229, 231, 235);
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:rgb(229, 231, 235);
        border-top-style:solid;
        border-top-width:0px;
        box-shadow:rgba(44, 38, 33, 0.12) 0px 8px 30px -8px;
        transition-delay:0s;
        transition-duration:0.4s;
        transition-property:all;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-font-smoothing:antialiased;
        border-bottom-left-radius:16px;
        border-bottom-right-radius:16px;
        border-top-left-radius:16px;
        border-top-right-radius:16px;
        unicode-bidi:isolate;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }

    .eco-grid-top{

        box-sizing: border-box;
        display: grid;
        grid-template-columns: 608px 600px;
        -webkit-font-smoothing:antialiased;
        column-gap:0px;
        row-gap:0px;
        unicode-bidi:isolate;
        -webkit-tap-highlight-colorr:gba(0, 0, 0, 0);
    }

    .eco-image-top{

        box-sizing: border-box;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .image-top{

        height: 600px;
        max-width: 100%;
        width: 608px;
    }

    .eco-text-top{

        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding-bottom:48px;
        padding-left:48px;
        padding-right:48px;
        padding-top:48px;
        color: rgb(44, 38, 33);
        border-bottom-color:rgb(229, 231, 235);
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:rgb(229, 231, 235);
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:rgb(229, 231, 235);
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:rgb(229, 231, 235);
        border-top-style:solid;
        border-top-width:0px;
    }

    .eco-tech-badge{
    align-items:center;
    box-sizing:border-box;
    display:flex;
    padding-bottom:4px;
    padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    width:84.7125px;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-size:12px;
    font-variation-settings:normal;
    font-weight:500;
    line-height:16px;
    tab-size:4;
    color:rgb(39, 104, 74);
    border-bottom-left-radius:9999px;
    border-bottom-right-radius:9999px;
    border-top-left-radius:9999px;
    border-top-right-radius:9999px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.topic-top{

    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:24px;
    font-family:"Playfair Display", serif;
    font-feature-settings:normal;
    font-size:30px;
    font-variation-settings:normal;
    font-weight:700;
    line-height:36px;
    tab-size:4;
    color: rgb(44, 38, 33);
    margin-block-end:0px;
    margin-block-start:24px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    unicode-bidi:isolate;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.topic-text{

    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:24px;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-variation-settings:normal;
    line-height:26px;
    tab-size:4;
    color: rgb(126, 115, 103);
    margin-block-end:0px;
    margin-block-start:24px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    unicode-bidi:isolate;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }

.eco-top-detail-grid{

    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 24px;
    color: rgb(126, 115, 103);
    column-gap: 16px;
    row-gap: 16px;
}

.Author{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    color: rgb(126, 115, 103);
    column-gap: 4px;
    row-gap: 4px;
}

.top-article{

    margin-bottom: 0px;
    margin-top: 24px;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-variation-settings:normal;
    line-height:24px;
    tab-size:4;
    color:rgb(126, 115, 103);
    border-bottom-color:rgb(229, 231, 235);
    border-bottom-style:solid;
    border-bottom-width:0px;
    border-left-color:rgb(229, 231, 235);
    border-left-style:solid;
    border-left-width:0px;
    border-right-color:rgb(229, 231, 235);
    border-right-style:solid;
    border-right-width:0px;
    border-top-color:rgb(229, 231, 235);
    border-top-style:solid;
    border-top-width:0px;
    -webkit-font-smoothing:antialiased;
    unicode-bidi:isolate;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.Read{

    margin-bottom: 0px;
    margin-top: 0px;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-variation-settings:normal;
    font-weight:500;
    line-height:24px;
    tab-size:4;
    text-decoration-color:rgb(39, 104, 74);
    color: rgb(39, 104, 74);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-decoration-thickness:auto;
}

.eco-section-mid{

    box-sizing: border-box;
    display: block;
    padding-bottom: 96px;
    padding-top: 0px;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-variation-settings:normal;
    line-height:24px;
    tab-size:4;
    color: rgb(44, 38, 33);
}

.eco-containor-mid{

    margin-left: 111.6px;
    margin-right: 111.6px;
    max-width: 1280;
    padding-left: 32px;
    padding-right: 32px;
    color: rgb(44, 38, 33);
}

.More-Articles{

    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-family:"Playfair Display", serif;
    font-feature-settings:normal;
    font-size:30px;
    font-variation-settings:normal;
    font-weight:700;
    line-height:36px;
    tab-size:4;
    color:rgb(44, 38, 33);
    margin-block-end:32px;
    margin-block-start:0px;
    margin-inline-end:0px;
    margin-inline-start:0px;
}

.eco-grid-mid{

    display: grid;
    color: rgb(44, 38, 33);
    grid-template-columns: 384px 384px 384px;
    column-gap:32px;
    row-gap:32px;
}

.eco-left-card{

    overflow-x: hidden;
    overflow-y: hidden;
    color: rgb(44, 38, 33);
    background-color: rgb(245, 244, 239);
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
}

.eco-pic-space{

    position: relative;
    box-sizing: border-box;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgb(44, 38, 33);
    aspect-ratio: 16/9;
}

.Zero-Waste{

    box-sizing: border-box;
    display: block;
    height: 216px;
    max-width: 100%;
    width: 384px;
}

footer {
  background-color: #2b2b2b;
  color: #b8b8b8;
  padding: 50px 20px 30px;
  margin-top: auto;
  animation-duration:0.5s;
  transition-duration:0.5s;
  transition-property:transform;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.eco-lifestyle-badge{

    position:absolute;
    align-items:center;
    box-sizing:border-box;
    display:flex;
    left:16px;
    padding-bottom:4px;
    padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    top:16px;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-size:12px;
    font-variation-settings:normal;
    font-weight:500;
    line-height:16px;
    tab-size:4;
    color: rgb(39, 104, 74);
    background-color: rgb(39,104,74,0.1);
    border-bottom-left-radius:9999px;
    border-bottom-right-radius:9999px;
    border-top-left-radius:9999px;
    border-top-right-radius:9999px;
}

.eco-left-description{
    box-sizing: border-box;
    display: block;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: rgb(44, 38, 33);
}

.mid-detail-grid{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    color: rgb(126, 115, 103);
    column-gap: 16px;
    row-gap: 16px;
}

.mid-detail-grid-extended{
    column-gap: 4px;
    row-gap: 4px;
}

.topic-text-mid{

    display: flow-root;
    margin-bottom:px;
    margin-left:0px;
    margin-right:0px;
    margin-top:16px;
    overflow-x:hidden;
    overflow-y:hidden;
    font-family:"Playfair Display", serif;
    font-feature-settings:normal;
    font-size:20px;
    font-variation-settings:normal;
    font-weight:600;
    line-height:28px;
    tab-size:4;
    margin-block-end:0px;
    margin-block-start:16px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    unicode-bidi:isolate;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}

.eco-mid-article{

    box-sizing:border-box;
    display:flow-root;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:16px;
    overflow-x:hidden;
    overflow-y:hidden;
    font-family:"DM Sans", sans-serif;
    font-feature-settings:normal;
    font-variation-settings:normal;
    line-height:24px;
    tab-size:4;
    color: rgb(126, 115, 103);
    margin-block-end:0px;
    margin-block-start:16px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    unicode-bidi:isolate;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
}

.eco-section-mid-mid{

    box-sizing: border-box;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgb(44,38,33);
    background-color: rgb(245, 244, 239);
    box-shadow: rgba(44, 38, 33, 0.12) 0px 8px 30px -8px;
    transition-behavior:normal ;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    unicode-bidi:isolate;
}

.eco-containor-mid-mid{

    position: relative;
    aspect-ratio: 16/9;
}



.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}

.footer-about {
  flex: 1;
  max-width: 400px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.logo-icon {
  width: 50px;
  height: 50px;
  background-color: #2d6d4e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.footer-about p {
    line-height: 1.8;
    font-size: 15px;
}

.footer-contact {
    flex: 1;
    max-width: 350px;
}

.footer-contact h3 {
    color: white;
    font-size: 22px;
    margin-bottom: 25px;
}

.contact-item {
    display: flex;
    align-items: start;
    gap: 15px;
    margin-bottom: 20px;
}

.contact-item a {
    color: #b8b8b8;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    font-size: 14px;
}